# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\旧征订平台代码（河南郑州）\源代码20230410\zydd_platform_bate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
